*{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    background-image: url("/image/pIC.jpg");
    background-size: 100%;
}
h2{
    font-size: 30px;
    font-style: italic;
    text-align: center;
    
}
form{
    margin: 50px;
    margin-left: 500px;
    position: relative;
    
}
table{
    margin-top:20px;
}